<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/Elegante Mj.jpeg" alt="" class="img-fluid" id="fotoDePerfil" />
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ezequiel Giampaoli</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
      <h1>Acerca de Mi</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
        eveniet tenetur totam! Culpa et obcaecati blanditiis velit quo
        praesentium, odio cumque ratione, voluptatem rerum doloribus animi
        veritatis cum mollitia perspiciatis!
      </p>
    </span>
    </div>
</div>