<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/APLogo.png" alt="Logo Argentina Programa" id="logoAP" />
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/img/linkedin.png" alt="" /></a>
            <a href=""><img src="../../../assets/img/facebook.png" alt="" /></a>
            <a href=""><img src="../../../assets/img/github.png" alt="" /></a>
            <a href=""><img src="../../../assets/img/instagram.png" alt="" /></a>
            <a href=""><img src="../../../assets/img/twitter.png" alt="" /></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">
        Ingresa
      </button>
        </div>
    </div>
</div>